.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Hero */
.hero {
  margin-bottom: 200px;
  padding: 0 20px 50px 20px;
  color: var(--clr-light-three);
  background-color: var(--clr-dark-two);
  background-image: url('../public/assets/home/desktop/image-hero.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.heroContent {
  padding: 100px 0;
  max-width: 40%;
  text-wrap: wrap;
}

.heroContent p:nth-child(1) {
  color: hsl(0, 0%, 50%);
  margin-bottom: 20px;
}

.heroContent h1 {
  margin-bottom: 20px;
}

.heroContent p:nth-child(3) {
  color: hsl(0, 0%, 70%);
}

.heroContent a {
  margin-top: 40px;
}

@media only screen and (max-width: 980px) {
  .hero {
    background-image: url('../public/assets/home/tablet/image-header.jpg');
    text-align: center;
  }

  .heroContent {
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    background-image: url('../public/assets/home/mobile/image-header.jpg');
  }

  .heroContent {
    max-width: 100%;
  }
}

/* About */
.about {
  padding: 0 20px;
}