.footer {
  background-color: var(--clr-dark-two);
  color: hsl(0, 0%, 50%);
  padding: 0 20px 50px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bar {
  width: 100px;
  height: 3px;
  background-color: var(--clr-primary);
}

.rowOne {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px
}

.rowTwo {
  width: 50%;
  margin-bottom: 50px;
}

.socials {
  text-align: right;
}

.icon {
  margin-left: 15px;
  transition: filter 100ms;
}

.icon:hover {
  cursor: pointer;
  filter: var(--clr-primary);
}

.rowThree {
  font-weight: 700;
}

@media only screen and (max-width: 900px) {
  .rowOne {
    flex-direction: column;
    align-items: flex-start;
  }

  .socials {
    text-align: left;
  }
  .rowThree {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .rowOne {
    align-items: center;
  }

  .rowTwo {
    text-align: center;
    width: 100%;
  }

  .rowThree {
    flex-direction: column-reverse;
  }
}