.desktop,
.tablet,
.mobile {
  padding: 35px 20px;
  background-color: var(--clr-dark-two);
  color: var(--clr-light-three);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tablet {
  display: none;
}

.mobile {
  display: none;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart,
.hamburger {
  cursor: pointer;
}

.menu {
  display: none;
  background-color: hsla(0, 0%, 100%, 1);
  position: absolute;
}


@media only screen and (max-width: 980px) {
  .desktop {
    display: none;
  }

  .tablet,
  .menu {
    display: block
  }
}

@media only screen and (max-width: 600px) {
  .tablet {
    display: none;
  }

  .mobile {
    display: block;
  }
}